body{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
header{
    border-bottom: 1px solid #d4a017;
}
main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-section {
    flex: 0 1 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contactForm input, #contactForm textarea{
    border: 2px solid #d4a017;
}
form label {
    display: block;
    margin-bottom: 5px;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #d4a017;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #b89115;
}
.satisfaction-rating {
    margin-top: 20px;
}
.satisfaction-rating input[type=radio]{
    margin-right: 10px;
}
.message-counter {
    font-size: 0.9em;
    color: #666;
}
.submitted-data {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #d4a017;
    display: none; /* Oculta inicialmente */
}
footer{
    margin-top: auto;
}