
@media screen and (min-width: 1000px){
    .informacoes{
        height: 600px;
        padding: 20px;
        justify-content: space-around;
    }
    .carrossel{
        justify-content: center;
        height: fit-content;
    }
    .slider{
        width: 80%;
        height: 100%;
    }
    .grid{
       display: flex;

       flex-flow: row nowrap;
       justify-content: center;
    }
    .grid-interna, .grid-interna0{
        display: flex;
        flex-flow: column;
        font-size: 1.07em;
        align-items: center;
   
    }
    .grid-interna p, .grid-interna0 p{
        text-shadow: 1px 1px #00000041;
    }
    #iemail{
        width: 500px;
    }
}
@media screen and (min-width: 1400px){
    .slider{
        width: 50%;
    }
}