*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.principal{
    height: 650px;
    background: url(../imagens/imagemPraia.jpg) center center fixed;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.principal h1{
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692);
}
.principal p{
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692);
    margin: 10px;
}
.principal a{
    color: #E3B845;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 5px;
    padding: 18px 30px;
    margin: 10px;
}
.carrossel{
    height: fit-content;
    display: flex;

    flex-flow: column nowrap;
    align-items: center;
}
.carrossel h2, .carrossel p, .carrossel hr{
    color: #E3B845;
    margin: 10px 20px;
   
}
.carrossel h2{
    font-size: 1.8em;
    margin-top: 40px;
}
.carrossel p{
    text-align: center;
    font-size: 1.1em;
}
.carrossel hr{
    width: 200px;
    height: 2px;
    background: #E3B845;
    border: none;
}
.slider{
    width: 95%;
    height: 95%;
    overflow: hidden;
    margin-bottom: -4px;
    border-radius: 10px 10px 0px 0px;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slides input, .navigation-auto div{
    display: none;
}.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 100%;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.informacoes {
    background-color: #E3B845;

    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.informacoes h2, .informacoes h3, .informacoes p {
    color: #8f7736;
    margin: 10px;
}

span {
    color: #8f7736;
    font-size: 2rem;
    margin-top: 20px;
}

.informacoes h2 {
    margin-top: 30px;
}

.informacoes h2, .informacoes h3 {
    font-size: 2em;
}

.informacoes p {
    color: white;
    text-align: center;
}

.grid-interna0 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.grid-interna {
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    text-align: center;
    padding: 10px;
}
.newsletter{
    height: 400px;

    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
}
.newsletter h2, .newsletter p, .newsletter hr,.newsletter label{
    color: #E3B845;
    margin: 10px;
}
.newsletter h2{
    font-size: 2em;
}
.newsletter p{
    text-align: center;
  
}
.email{
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;
    width: 98vw;
}
#iemail{
    text-align: start;
    margin: 10px;
}
.newsletter input{
    width: 300px;
    height: 57px;
    border-radius: 5px;
    color: #E3B845;
    border: 1px solid #E3B845;
    padding: 10px;
    margin-right: 10px;
}
.newsletter .enviar{
    background-color: #E3B845;
    color: white;
    padding: 20px;
    border-radius: 5px;
    flex-basis: 50px;
}
.newsletter .enviar:hover{
    background-color: #9c8030;
}



