*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
}
header{
    height: 300px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
header > img{
    margin: -15px 0px;
    width: 250px;
}
nav{
    font-size: 2em;
}
nav > a{
    text-decoration: none;
    color: #E3B845;
    margin: 10px;
}
.principal{
    height: 650px;
    background: url(../imagens/imagemPorDoSol.jpg) center center;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.principal h1{
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692);
}
.principal p{
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692);
    margin: 10px;
}
.principal a{
    color: #E3B845;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 5px;
    padding: 18px 30px;
    margin: 10px;
}
.carrossel{
    height: 580px;

    display: flex;

    flex-flow: column nowrap;
    align-items: center;
}
.carrossel h2, .carrossel p, .carrossel hr{
    color: #E3B845;
    margin: 10px 20px;
   
}
.carrossel h2{
    font-size: 1.8em;
    margin-top: 40px;
}
.carrossel p{
    text-align: center;
    font-size: 1.1em;
}
.carrossel hr{
    width: 200px;
    height: 2px;
    background: #E3B845;
    border: none;
}
.slider{
    width: 98%;
    height: 100%;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slides input{
    display: none;
}.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 100%;
}
.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 333px; /*ARRUMAR*/
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}
.informacoes{
    height: 730px;
    background-color: #E3B845;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.informacoes h2, .informacoes h3, .informacoes p{
    color: #776125;
    margin: 10px;
}
span{
    color: #776125;
    font-size: 2rem;
    margin-top: 20px;
}
.informacoes h2{
    margin-top: 30px;
}
.informacoes h2, .informacoes h3{
    font-size: 2em;
}
.informacoes p{
    color: white;
    text-align: center;
}

.grid-interna, .grid-interna0{
    display: flex;

    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
.newsletter{
    height: 400px;

    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
}
.newsletter h2, .newsletter p, .newsletter hr,.newsletter label{
    color: #E3B845;
    margin: 10px;
}
.newsletter h2{
    font-size: 2em;
}
.newsletter p{
    text-align: center;
  
}
.email{
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;
    width: 98vw;
}
#iemail{
    text-align: start;
}
.newsletter input{
    width: 300px;
    height: 57px;
    border-radius: 5px;
    color: #E3B845;
    border: 1px solid #E3B845;
    padding: 10px;
    margin-right: 10px;
}
.newsletter .enviar{
    background-color: #E3B845;
    color: white;
    padding: 20px;
    border-radius: 5px;
    flex-basis: 50px;
}
.newsletter .enviar:hover{
    background-color: #9c8030;
}
footer{
    height: 40px;
    background-color: #E3B845;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
}


