*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: fit-content;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

}
header > img{
    margin: -15px 0px;
    width: 250px;
}
nav{
    padding: 10px;
    font-size: 1.8em;
    display: flex;
    flex-flow: row nowrap;
}
nav  a{
    text-decoration: none;
    color: #E3B845;
    margin: 10px;
    padding: 10px;
}
nav a:hover{
    background-color: #E3B845;
    color: white;
    border-radius: 5px;
}
footer{
    height: 40px;
    background-color: #E3B845;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
color: white;
}
@media screen and (max-width: 1000px){
    header{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    nav{
        flex-flow: column nowrap;
        width: 100%;
        padding: 2px;

    }
    nav a{
        margin: 2px;
        border: 1px solid #E3B845;
        border-radius: 5px;
        text-align: center;
    }
}
