body{
    height: 100vh;
}
header{
    border-bottom: 1px solid #d4a017;
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantHospQuartos{
    padding: 5px;
}
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content label {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.dropdown-content input[type="number"] {
    width: 60px;
}

fieldset{
    border-color: #E3B845;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

label{
    display: block;
    margin: 10px 0 5px;
}

#enviar{
    background-color: #E3B845;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
}

#limpar{
    background-color: white;
    border-radius: 5px;
    border-color: #E3B845;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    color: #E3B845;
}

form{
    flex: 0 1 600px;
}

input{
    border-radius: 5px;
    border-color: #E3B845;
    border-style: solid;
    height: 30px;
}

button{
    background-color: #E3B845;
    border-radius: 5px;
    color: white;
    border: none;
    height: 30px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#enviar:hover{
    background-color: #9c8030;
}

#quantHospQuartos:hover{
    background-color: #9c8030;
}

#limpar:hover{
    background-color: rgb(231, 225, 225);
}